
body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 20px;
  padding: 20px;
}

.navbar {
  background-color: #b0e0e6;
  color: #5cb85c;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  border-color: #5cb85c;
}

.navbar-toggler-icon {
  background-color: #5cb85c;
}

.navbar-nav .nav-link {
  color: #5cb85c;
  font-weight: bold;
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }
}
